body{
	background-color: black;
}


header{
	text-align: center;
}

nav{
	display: flex;
	text-align: center;
}

nav ul{
	padding: 0;
	display: flex;
	list-style-type: none;
	flex: 2;
}

nav li {
	display: inline;
	text-align: center;
	flex: 1;
	background-color: teal;
	border: 1px solid black;
}

nav a {
	display: inline-block;
	font-size: 5rem;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 10px black;
}

main{
	
	text-align: center;
	padding: 1%;
}

footer{
	text-align: center;
	background-color: darkslategray;
}

h1{

	font-size: 4rem;
	color: white;
	text-shadow: 2px 2px 10px black;
}

.imagebox img{
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 5px;
}

.container-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-row > .container{
	justify-content: center;
	text-align: center;
	height: 450px;
	width: 15%;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 10px;
	border: 2px solid black;
	background-color: blanchedalmond;
	border-radius: 5px;
}

.container li{
	margin-right: 30px;
	text-align: center;
}

.container h1{
	font-size: 1rem;
	color: white;
	text-shadow: 5px 5px 5px black;
	background-color: aqua;
	margin: auto;
}

.container h4{
	font-size: 1rem;
	color: black;
	margin: auto;
}

.container h6{
	color: black;
	margin: auto;
}

.button-blue{
	border-radius: 10px;
	color: white;
	background-color: #008CBA;
	margin: auto;
	cursor: pointer;
}

.container-row > .player-box{
	justify-content: center;
	text-align: center;
	height: 450px;
	width: 15%;
	padding-top: 10px;
	margin-top: 10px;
}

.container-row > .enemy-box{
	justify-content: center;
	text-align: center;
	height: 450px;
	width: 15%;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 500px;
}


.player-hpbar{
	font-size: 1rem;
	color: white;
	text-shadow: 5px 5px 5px black;
	width: 218px;
	background-color: grey;
}

.player-name, .enemy-name, .player-lvl, .enemy-lvl{
	
	font-size: 1rem;
	color: white;
	text-shadow: 5px 5px 5px black;
}

.player-guild, .player-profession{
	
	font-size: 1rem;
	color: rgb(0, 225, 255);
	text-shadow: 5px 5px 5px black;
}

.enemy-hpbar{
	font-size: 1rem;
	color: white;
	text-shadow: 5px 5px 5px black;
	width: 218px;
	background-color: grey;
}

.character-box{
	background-color: grey;
	height: 1200px;
	width: 800px;
	border: 2px solid black;
	border-radius: 10px;
}

.character-box h1{
	font-size: 1.5rem;
	justify-content: center;
	text-align: center;
	color: white;
	height: 30px;
	text-shadow: 5px 5px 5px black;
	background-color: darkgreen;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.equipment-box{
	position: relative;
	justify-content: center;
	background-color: grey;
	height: 400px;
	width: 400px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 10px;
}

.equipment-slot{
	position: absolute;
	background-color: rgba(5, 5, 5, 0.3);
	height: 64px;
	width: 64px;
	border: 2px solid black;
	border-radius: 10px;
	transition-duration: 0.5s;
}

.equipment-slot:hover{
	background-color: rgba(5, 5, 5, 0);
}

#item-type-helmet{
	top: 50px;
	left: 165px;
}

#item-type-armor{
	top: 150px;
	left: 165px;
}

#item-type-weapon{
	top: 150px;
	left: 60px;
}

#item-type-boots{
	top: 250px;
	left: 165px;
}

#item-type-artifact{
	background-color: rgba(0, 255, 234, 0.3);
	top: 250px;
	left: 270px;
}

#item-type-artifact:hover{
	background-color: rgba(0, 255, 234, 0.1);
}
.inventory-character{
	position: relative;
	justify-content: center;
	background-color: grey;
	height: 200px;
	width: 500px;
	margin-left: 50px;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 250px;

}
.inventory-row{
	justify-content: center;
	display: flex;
}
.inventory-slot{
	background-color: rgba(5, 5, 5, 0.3);
	height: 64px;
	width: 64px;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 5px;
	margin-top: 20px;
	transition-duration: 0.5s;
}

.inventory-slot:hover{
	background-color: rgba(5, 5, 5, 0);
}

.player-hp{
	font-size: 1rem;
	color: white;
	text-shadow: 5px 5px 5px black;
}

.player-str{
	font-size: 1rem;
	color: red;
	text-shadow: 5px 5px 5px whitesmoke;
}

.player-dex{
	font-size: 1rem;
	color: green;
	text-shadow: 5px 5px 5px whitesmoke;
}

.player-charisma{
	font-size: 1rem;
	color: purple;
	text-shadow: 5px 5px 5px whitesmoke;
}

.player-int{
	font-size: 1rem;
	color: blueviolet;
	text-shadow: 5px 5px 5px whitesmoke;
}

.player-luck{
	font-size: 1rem;
	color: gold;
	text-shadow: 5px 5px 5px whitesmoke;
}